<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>SysGymTech</h1>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px">
    <mat-nav-list>
      <mat-list-item routerLink="/pages/dash-board">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>dashboard</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/rol">
        <mat-icon mat-list-icon>assignment ind icon</mat-icon>
        <div mat-line>rol</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
